html,body
{
margin:0;padding:0
}

body
{
font-family: 'cartogothic reg';
text-align:center
background-color:#fff;
}

footer, header
{ 
display: block;
}


#container{
	position: relative;
	width: 960px;
	margin: 0 auto;
}

#header h1{

}

#header p{

}

#map-container{
	width: 500px;
}

.states{
	fill: #888888;
	stroke: #ccc;
	stroke-width: 1px;
}

#timeline{
	width: 940px;
}

 .chart {
    font-family: Arial, sans-serif;
    font-size: 10px;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
 