body
{
margin:100;
padding:0;
text-align:center;
background-color:#fff;
font-family:Georgia, "Times New Roman", Times, serif;
color:#545454;
font-size:13pt;
}

footer, header
{ 
display: block;
}

a:link {
color:#6889cb; /* unvisited link */
text-decoration:none;
}  
/*changed*/    
a:visited {
color:#6889cb;/* visited link */
text-decoration:none;
}
a:hover {
color:#dd8125;/* mouse over link */
text-decoration:none;
}  
a:active {
color:#0000FF;/* selected link */
text-decoration:none;
}  

#container{
	width: 960px;
	position: relative;
	text-align: left;
	margin: auto;
	
}

/*Changed*/
#container p{
	font-size: 12pt;
}

#header {
	background:#F1F1F1;
	margin: 0 0 0.2em 0; 
	border-bottom:thin solid #D4D4D4;
	padding:25px;
	
}
#header h1{
	font-size: 20pt;
	text-align: left;
	margin-top: 0;
	border-right:thin solid #D4D4D4;

}
h1.title{
	width: 140px;
	float:left;
	position:relative;
	padding-bottom: 2px;
	padding-right: 10px;
}

p.title{
	margin-left:170px;
}
#header p{
	font-size: 15pt;
	text-align: left;
	margin-bottom:0;
	margin-top: 0;
	padding-left:5px;
	}

.intro {
	font-size: 15pt;
	padding:10px;
	background:#F1F1F1;
	border-bottom:thin solid #D4D4D4;
	text-align:left;
	color:#3B3B3B
		
}

#socialMedia{
	width: 960px;
	padding:0;
	margin:0;
	padding-top: 0px;
	float: right;
}

#matrix{
	width: 960px;
	position: absolute;
	top: 885px;
	font-weight:normal;
}

#matrix h1{
	font-size: 14pt;
	text-align: left;
	border-bottom:thin solid #D4D4D4;
}

#matrix p{
	font-size: 11pt;
	font-weight: normal;
}

#chart{
	width: 960px;
	position: absolute;
	top: 550px;
}

#timeline{
	position: absolute;
	top: 820px;
	width: 960px;
	font-weight:normal;
}

#timelineText{
	position: absolute;
	top: 845px;
	width: 960px;
	text-align: center;
	margin: 0;
	padding: 0;
}
#timelineText h1{
	font-size: 10pt;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

#timelineText p{
	font-size: 9pt;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

/*changed*/
#timerControls{
	position: absolute;
	font-size: 15pt;
	text-align: center;
	width: 100px;
	left: 395px;
	top: 175px;
	margin-top:51px;
}

#timerControls h1{
	font-size: 20pt;
	text-align: center;
	font-weight: bold;
	margin: 0;
	padding: 0;
/* 	left: 404px;
	text-align: center; */
	
}

/* #timerControls img{
    display: inline;
	float: left;
	margin: 0;
	padding: 0;
} */

#timerControls p{
	/* display:block; */
	font-size: 9pt;
	font-weight: normal;
	margin: 0;
	padding: 0;
	padding-top: 1px;
}
/* #timerControls img:hover{
  opacity:.89;
  cursor: pointer;
  
} */


#controls{
	position: absolute;
	font-size: 15pt;
	width: 200px;
	left: 643px;
	top: 280px;
}
/*changed*/
.control{
	padding:5px;
	opacity:.7;	
}
.control:hover{
	opacity:1;
	cursor: pointer;	
}
/*changed*/	

#secondL{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	display:block;
	padding-bottom:10px;
	margin-top: -10px;
}
#map-container{
	width: 500px;
	margin-top: 20px;
	margin-left:403px;
	position:absolute;
	float: right;
	clear:both;
	color:#3B3B3B;
}


.states{
	fill: #F1F1F1;
	stroke: #D4D4D4;
	stroke-width: 1px;
}

#legend{
	width: 400px;
	position: relative;
	float: right;
}



.infolabel {
	position: fixed;
	width: 210px;
	height: auto;
	color: #545454;
	background-color: #fff;
	border: solid thin #999;
	-moz-border-radius: 2px;
	border-radius: 5px;
	padding: 5px;
	opacity: 0.99;
	z-index: 100;
	
	
}
.infolabel h1 {
	font-size: 14pt;
	margin: 0;
	padding-bottom: 8px;
	display: inline-block;
	line-height: 1em;
	color:#3B3B3B;
}
.infolabel h3{
	font-size:2px;
	line-height:.2em;
}
.infolabel p{
	font-size:13pt;
	font-weight:normal;
	color: #545454; 
	padding:2px;
	margin: 0;
	
}

.infolabel h2 {
	font-size: 13pt;
	margin: 0;
	padding: 0;
	display: inline-block;
	color:#3B3B3B;
	font-weight:normal;
}

.infolabel b {
	font-size: 13pt;
	clear:both;
} 
#marriageL, #adoptionL, #housingL, #hateCrimeL, #hospitalL, #employmentL{
	padding:10px;
		
}

#marriage:hover, #adoption:hover, #housing:hover, #hate_crimes:hover, #hospital:hover, #employment:hover{
background-color: #cccccc;	
}

#marriage.current, #adoption.current, #housing.current, #hate_crimes.current, #hospital.current, #employment.current{
background-color: #cccccc;	
}

}
 #indexLWrapper {
	margin-left:auto;
	margin-right:auto;
	text-align:center;

 }
#indexL{
	font-size: 14pt;
	font-weight: bold;
}
.matrix{
	padding: 0;
	margin: 0;
}

.xMatrix {
    font-size: 10px;
	padding: 0;
	margin: 0;
  }

 .chart {
    font-size: 10px;
	padding: 0;
	margin: 0;
  }
  
  .cell{
	fill:#F1F1F1;
		-moz-border-radius: 15px;
	border-radius: 15px;
  }

  .axis path, .axis line {
    fill: none;
/*     stroke: #000;
    shape-rendering: crispEdges; */
  }
  
   .xYear path, .xYear line {
    	fill: none;
/*     stroke: #000;
    shape-rendering: crispEdges; */
  }
  
  g.major.tick{
}

#footer{
	position: absolute;
	top: 1930px;
	width: 960;
}

#footer p{
	font-size: 12pt;
}

.legendL{
	display:block;
	text-align:center;
	font-size:13px;
	}
.legendR{
	float:right;
	font-size:10px;

}
#accordion{
	margin-top: 10px;
	width: 400px;
	overflow: hidden;
	height: 100%;
	position:relative;
}
#accordionLeft{
	position:absolute;
	float:left;
}
.info-col {
	float: center;
	width: 370px;
	height: 100%;
	
}

.info-col h2 {
	text-align: center;
	font-weight: normal;
	padding: 25px 0;
}

dt {
	padding: 5px;
	padding-right:7px;
	color: #3B3B3B;
	border-bottom: thin solid #D4D4D4;
	background: #D4D4D4;
	font-weight:bold;
	font-size:14pt;
}

dd {
	position: absolute;
	left: -9999px; 
	top: -9999px; 
	width: 350px;
	background: #ffff; 
	padding: 10px; 
	color: #545454; 
	border-bottom: thin solid #D4D4D4;
	font-size:13pt;
	font-weight:normal;
	
}


#hexCenter{
	margin-left:auto;
	margin-right: auto;
	text-align:center;
	display:block;	
}
dd div{
	width: 100%;
	padding: 10px 0 0 0;
	/* margin-right: 50%; */
	/* padding:0 200px 0 0; */
	/* position: center; */
	/* float: center; */
}



dt:nth-of-type(1) {
background: #F1F1F1;
}

dd:nth-of-type(1) {
 background: #F1F1F1;
 }

dt:nth-of-type(2) {
	background: #F1F1F1;
}
dd:nth-of-type(2) {
	background: #F1F1F1;
}

dt:nth-of-type(3) {
	background: #F1F1F1;
}
dd:nth-of-type(3) {
	background: #F1F1F1;
}

dt:nth-of-type(4) {
	background: #F1F1F1;
}
dd:nth-of-type(4) {
	background: #F1F1F1;
}

dt:nth-of-type(5) {
	background: #F1F1F1;
}
dd:nth-of-type(5) {
	background: #F1F1F1;
}

dt:nth-of-type(6) {
	background: #F1F1F1;
}
dd:nth-of-type(6) {
	background: #F1F1F1;
}

.curCol {
	
	z-index: 1;
	position: relative;
}
  
 
