body
{
margin:0;
padding:0;
text-align:center;
background-color:#fff;
font-family:Georgia, "Times New Roman", Times, serif;
color:#313030;
}

footer, header
{ 
display: block;
}

#container{
	width: 960px;
	position: relative;
	text-align: left;
	margin: auto;
	
}

#header {
	background:#F1F1F1;
	margin: 0 0 0.2em 0; 
	border-bottom:thin solid #D4D4D4;
	padding:15px;
	
}
#header h1{
	font-size: 20pt;
	text-align: left;
	margin-top: 0;
	border-right:thin solid #D4D4D4;

}
h1.title{
	width: 140px;
	float:left;
	position:relative;
}

#header p{
	font-size: 15pt;
	text-align: left;
	margin-bottom:0;
	margin-top: 0;
}

.intro {
	padding:10px;
	background:#F1F1F1;
	border-bottom:thin solid #D4D4D4;
	text-align:center;
		
}

#matrix{
	width: 960px;
	position: absolute;
	top: 700px;
}

#matrix h1{
	font-size: 14pt;
	text-align: left;
	border-bottom:thin solid #D4D4D4;
}

#chart{
	width: 960px;
	position: absolute;
	top: 400px;
}

#timeline{
	position: absolute;
	top: 675px;
	width: 960px;
}


#controls{
	position: absolute;
	font-size: 15pt;
	width: 200px;
	left: 350px;
	top: 120px;
}

#time h1{
	width:150px;
	position: absolute;
	top: 120px;
	left: 200px;
	float: left;
	font-size: 20pt;
	margin: 0;
}

#map-container{
	width: 500px;
	top: 90px;
	margin-left:460px;
	position:absolute;
	float: right;
	clear:both;
}


.states{
	fill: #F1F1F1;
	stroke: #D4D4D4;
	stroke-width: 1px;
}

#legend{
	width: 400px;
	position: relative;
	float: right;
}



.infolabel {
	position: fixed;
	width: 175px;
	color: #000;
	background-color: #fff;
	border: solid thin #000;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 5px; 
	opacity: 0.9;
	
}
.infolabel h1 {
	font-size: 14pt;
	margin: 0;
	padding: 0;
	display: inline-block;
	line-height: 1em;
}

.infolabel h2 {
	font-size: 12pt;
	margin: 0;
	padding: 0;
	display: inline-block;
	line-height: 1em;
}

.infolabel b {
	font-size: 13pt;
	clear:both;
} 

.matrix{
	padding: 0;
	margin: 0;
}

.xMatrix {
    font-size: 10px;
	padding: 0;
	margin: 0;
  }

 .chart {
    font-size: 10px;
	padding: 0;
	margin: 0;
  }
  
  .cell{
	fill:#F1F1F1;
		-moz-border-radius: 15px;
	border-radius: 15px;
  }

  .axis path, .axis line {
    fill: none;
/*     stroke: #000;
    shape-rendering: crispEdges; */
  }
  
   .xYear path, .xYear line {
    fill: none;
/*     stroke: #000;
    shape-rendering: crispEdges; */
  }
  
  g.major.tick{
	cursor: hand; 
	cursor: pointer; 
}

#footer{
	position: absolute;
	top: 2000px;
	width: 960;
}


#accordion{
	width: 400px;
	overflow: hidden;
	height: 100%;
	position:relative;
}
#accordionLeft{
	position:absolute;
	float:left;
}
.info-col {
	float: center;
	width: 400px;
	height: 100%;
	padding: 50px 0 0 20px;
}

.info-col h2 {
	text-align: center;
	font-weight: normal;
	padding: 25px 0;
}

dt {
	padding: 5px;
	color: #313030;
	border-bottom: thin solid #D4D4D4;
	background: #D4D4D4;
}

dd {
	position: absolute;
	left: -9999px; 
	top: -9999px; 
	width: 380px;
	background: #ffff; 
	padding: 10px; 
	color: #313030; 
	border-bottom: thin solid #D4D4D4;
	
}

#hex{
	padding-right: 50px;
}
dd div{
	width: 100%;
	padding: 10px 0 0 0;
	/* margin-right: 50%; */
	/* padding:0 200px 0 0; */
	/* position: center; */
	/* float: center; */
}



dt:nth-of-type(1) {
background: #F1F1F1;
}

dd:nth-of-type(1) {
 background: #F1F1F1;
 }

dt:nth-of-type(2) {
	background: #F1F1F1;
}
dd:nth-of-type(2) {
	background: #F1F1F1;
}

dt:nth-of-type(3) {
	background: #F1F1F1;
}
dd:nth-of-type(3) {
	background: #F1F1F1;
}

dt:nth-of-type(4) {
	background: #F1F1F1;
}
dd:nth-of-type(4) {
	background: #F1F1F1;
}

dt:nth-of-type(5) {
	background: #F1F1F1;
}
dd:nth-of-type(5) {
	background: #F1F1F1;
}

dt:nth-of-type(6) {
	background: #F1F1F1;
}
dd:nth-of-type(6) {
	background: #F1F1F1;
}

.curCol {
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	z-index: 1;
	position: relative;
}
  
 